@if (authService.currentUserSignal()) {
<div class="container">
    <nav class="side-bar">
        <div class="close-menu" id="close-menu" (click)="closeSidebar()"><i class="fa-solid fa-x"></i></div>
        <h1>VisioChat</h1>
        <div class="profile">
            <div class="header-profile">
                <div class="header-profile-img" (click)="toggleProfileMenu()">
                    <img src="user.jpeg" alt="user">
                    <span class="status"></span>
                </div>
                <h2>{{ authService.currentUserSignal()?.username || 'Utilisateur' }}</h2>
                <div class="profile-menu" *ngIf="isProfileMenuOpen">
                    <ul>
                        <li (click)="navigateToEditProfile()">Modifier profil</li>
                        <li (click)="confirmLogout()">Déconnexion</li>
                    </ul>
                </div>
            </div>
        </div>
        <form (submit)="onSearchSubmit($event)">
            <input type="text"
                name="search"
                id="search-bar"
                placeholder="Chercher un utilisateur..."
                [(ngModel)]="searchQuery"
                (input)="searchUsers()">
            <!--<button type="submit">
                <i class="fas fa-search"></i>
            </button>-->
            <ul class="search-results" *ngIf="searchResults().length > 0">
              <li *ngFor="let user of searchResults()" (click)="selectUser(user)">
                <img src="user.jpeg" alt=""> {{ user.username }}
              </li>
            </ul>
        </form>
        <div class="contact">
            <ul>
                <li *ngFor="let contact of contacts()">
                  <a [routerLink]="['/']" (click)="selectContact(contact)">
                    <img [src]="'user.jpeg'" alt="{{ contact.username }}">
                    {{ contact.username }}
                    @if (contact.isConnected) {
                        <span class="status"></span>
                    }
                  </a>
                </li>
                @if (contacts().length === 0) {
                  <li class="no-contacts">Aucun contact pour le moment</li>
                }
            </ul>
        </div>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="open-menu" id="open-menu"  (click)="openSidebar()"><i class="fa-solid fa-angles-right"></i></div>
</div>

}
@else {
    <router-outlet></router-outlet>
}