<div class="callPage">
    <section>
        <div class="particiants">
            <ng-container
                *ngFor="let participant of participants(); trackBy: trackBySessionId"
            >
                <app-participant [participant]="participant"></app-participant>
            </ng-container>
        </div>
        <div class="call-controls">
            <button (click)="toogleMicrophone()">Mic</button>
            <button (click)="toogleCamera()">Camera</button>
            <button class="leave-button" (click)="leaveCall()">Quitter</button>
            <button class="Delete-button" (click)="deleteCall()">Supprimer</button>
        </div>
    </section>
</div>