section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.participants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

app-participant {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
}

.call-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0 0.5rem;
}

button {
  font-size: smaller;
}

.leave-button {
  background: var(--custom-red);
}

.leave-button:hover {
  background: var(--custom-red-hover);
}
