.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home h1 {
    font-size: 2.5rem;
    color: var(--text-color-dark);
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1s ease-out forwards;
}

.home h1 span {
    color: var(--primary-color);
    display: inline-block;
    animation: wave 2s infinite ease-in-out;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes wave {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
